
/* 이거는 태그를 잡은것임 */
body {
  color: red;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  transition: 0.3s;
}

/* ID잡는것 */

#box1 {
  position: sticky;
  top: 0;
  color: blue;
  background-color: skyblue;
  padding: 2em;
  margin-bottom: 5em;
}

#insidebox {
  color: white;
  background-color: black;
  /* margin: 5em 2em 3em 4em; */
}

/* class로 잡는것 */
.box2 {
  color: green;
}

/* 글자에 관한  CSS 명령어들 */

#sample1 {
  font-size: 5vw;
  font-style: oblique;
  font-weight: bolder;
  border: 3px solid black;
  border-top: 5px dotted blue;
  /* font-size: 20px;  */
}

/* hover */
.divButton {
  padding: 1.5em 2em;
  background-color: pink;
  color: white; 
  width: 200px;
  text-align: center;
  border-radius: 15px;
}

.divButton:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: skyblue;
  color: black;
}

/* flex */
.box7 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: aqua;
  padding-top: 15em;
  position: relative;
}

.box7 div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box7-1 {
  position: absolute;
  top: -10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* span */

#sampleText {
  font-style: oblique;
  font-weight: bold;
  font-size: 1.5em;
  color: pink
}